Name: cms-api
Host: 0.0.0.0
Port: 8888

Mysql:
  Dsn: "cms:cms@tcp(mysql:3306)/cms?charset=utf8mb4&parseTime=True&loc=Local"

Auth:
  JwtExpireSec: 86400

App:
  RecentScoreItemsN: 10
  RankingTopN: 5
